<ion-view view-title="My Tickets" cache-view="false">
  <ion-content>


  		<div ng-show="nocomplain" style="margin-top:10%;">
  			<p style="text-align:center;font-weight:600;color:black;">No Ticket Found</p>

  		</div>

  	 	 <div style="border:1px solid black;" class="card" ng-repeat="data in usercomplain	| orderBy:'data.created':true">
			  <div class="item item-divider" style="background: #EB3C02;border-left: 4px solid #55657f;
   					 padding-top: 5px;padding-bottom: 5px;color:white;">
			    Subject: {{data.subject}}
			  </div>
			  <div class="item item-text-wrap">
			    <p style="white-space: normal;">Message: {{data.message | htmlToPlaintext}}</p>
			    <p>Date: {{data.created}}</p>
			    <p>Ticket Id: {{data.ticketid}}</p>
			    <p ng-if="data.status==='0'">Status: Open</p>
			    <p ng-if="data.status==='1'">Status: Disabled</p>
			    <p ng-if="data.status==='2'">Status: Waiting</p>
			    <p ng-if="data.status==='3'">Status: Waiting</p>
			    <p ng-if="data.status==='4'">Status: Closed</p>
			  </div>
		</div>



  </ion-content>
</ion-view>

