<ion-view view-title="Create Ticket">
  <ion-content>
  	 	 <form ng-submit="filecomplain()" name="createComplain" novalidate>
	        <div class="list" style="margin-top:10%;">
	            <label class="item item-input inputbox">
	              <span class="input-label">User Name</span>
	              <input type="text" ng-model="complain.username" required>
	            </label>

	            <label class="item item-input inputbox">
	              <span class="input-label">User Email</span>
	              <input type="text" ng-model="complain.useremail" required>
	            </label>


	             <label class="item item-input item-select inputbox" >
	                <div class="input-label">Select Department</div>
	                  <select  ng-model="complain.department" name="tower"
	                   ng-change="changedept(complain.department)" required>
	                      <option ng-repeat="dept in department" >{{dept.departmentname}}</option>
	                  </select>
            	</label>

            	 <label class="item item-input item-select inputbox" >
	                <div class="input-label">Select Priority</div>
	                  <select  ng-model="complain.priority" name="tower" 
	                  ng-change="changeprority(complain.priority)" required>
	                      <option ng-repeat="prio in priority" >{{prio.priority}}</option>
	                  </select>
            	</label>
            	  <label class="item item-input inputbox">
	              <span class="input-label">Subject</span>
	              <input type="text" ng-model="complain.subject" required>
	            </label>


            	<label class="item item-input item-stacked-label inputbox">
					<textarea placeholder="Subject" rows="8" cols="10" ng-model="complain.text" required>
					</textarea>
				</label>

            <button ng-disabled="createComplain.$invalid" style="background-color: #EB3C02;color:white;width: 40%;margin-left: 30%;" class="button button-small " type="submit">Create</button>
        </div>
      </form>
  </ion-content>
</ion-view>
