<ion-view cache-view="false" class="mainbg">
  <ion-content scroll="false">

        <div class="list" style="margin-top:60%;">
            <label class="item item-input" style="background:transparent;margin:5%;border-radius:10px;">
              <input style="color:white" type="text" ng-model="code" placeholder="Enter Invitation Code" >
            </label>
         </div>   
        <a class="button button-clear " ng-click="validateuser(code)" style="color:white;margin-left: 5%;
        width: 90%;border-color: white;border-radius: 10px;font-size: x-large;"><b>Go</b></a>
        

  </ion-content>
</ion-view>

