<!-- <ion-view view-title="Terms & Conditions">
  <ion-content>

  </ion-content>
</ion-view> 
ng-click="modal.hide()"
ng-click="modal.show()"
-->

  <ion-modal-view>
        <ion-header-bar style="background: #EB3C02 !important;color:white !important;border:none" class="bar bar-header bar-positive">
          <h1 class="title">Terms & Conditions</h1>
          <button class="button right button-icon button-clear ion-close-circled" ng-click="modal.hide()">
          	
          </button>
        </ion-header-bar>
        <ion-content class="padding">

        </ion-content>
      </ion-modal-view>